html {
    font-family: "Lato", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      /* custom scroll bar */
    ::-webkit-scrollbar {width: 10px;}
    ::-webkit-scrollbar-track {background: #242526;}
    ::-webkit-scrollbar-thumb {background: #3A3B3C;}
  }
  body {
    background: rgb(244, 245, 225);
    width:100%;
    overflow-x: hidden;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.action-btn {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
.action-btn:hover, .action-btn.disabled {
  background: rgba(0, 0, 0, 0.6);
}
  header {
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: #fff;
    display: flex;
  }
  header h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
    margin-left: 10px;
  }
  header img {
    width: 40px;
    height: 40px;
  }
  .header-slider{
    height: 400px;
    padding: 0px;
    position: relative;
    overflow: hidden;
  }
  @media (min-width: 768px) {
    .header-slider{
      height: 700px;
    }
  }
  .header-slider .header-images{
    height: 100%;
    width: 100%;
  }
  .header-slider .header-images img{
    height: 100%;
    width: 100%;
  }
  .btm-slides{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .btm-slides span{
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;
  }
  .sliders{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    cursor: pointer;
    border: 2px solid white;
    background: rgba(255,255,255,0.1);
  }
  .sliders:hover{
    background: rgba(255,255,255,0.2);
  }
  .right{right: 20px;text-align:center;}
  .left{left: 20px;text-align:center;}
  .sliders span{
    line-height: 41px;
    font-size: 35px;
    color: white;
    margin: auto;
  }
  @media (min-width: 768px) {
    .sliders {
      width: 60px;
    }
    .sliders span {
      font-size: 45px;
    }
  }
  .title {
    padding: 30px;
    text-align: center;
    font-size: 28px;
    color: gray;
    background: #fff;
    text-transform: uppercase;
  }
 .car-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 50px;
    background: #fff;
 }
 .blog-item, .port-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    padding-bottom: 50px;
    background: #fff;
 }
 .blog-item .blog-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
 }
 .blog-img .blog-info {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px;
    flex-wrap:wrap;
 }
 .blog-img .blog-info p {
  color: #fff;
  font-size: 1.1rem;
  width: 33.33%;
 }

 .blog-item a, .port-item a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
  padding-left: 25px;
 }
 .blog-item a:hover, .port-item a:hover {color:red;}
 .car-item img, .blog-item img, .port-item img {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
 }
 .car-item h2, .blog-item h2, .port-item h2 {
  margin-top: 10px;
  margin-bottom: 15px;
 }
 .blog-item h2, .blog-item > p {
  padding: 10px 25px;
 }
 .side-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
 }
 .side-content img {
  padding: 5px;
  border: 1px solid gray;
  width: 70px;
  height: 70px;
  margin-right: 15px;
 }
 .side-content a, .tag-list a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  display: block;
 }
 .side-content a:hover, .tag-list a:hover {
  color: gray;
  text-decoration: underline;
 }
 .tag-list {
  list-style-type:square;
  padding-left: 30px;
}
.tag-list li {padding:8px;}
 .port-item h2 {padding-left:35px;}
.port-des {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px 10px 35px;
}
 .car-item p, .port-item p {
  color: gray;
  font-family: arial;
  font-weight: 500;
 }
 .port-item > p {
  padding: 10px 35px;
  font-size: 18px;
  color: #000;
 }
 .port-des i {
  color: #000;
 }
 .port-des p {
  margin-right: 15px;
  font-size: 18px;
 }
 .admin{padding:0 15px 0 25px;}
 .admin img {
  width: 100%;
  height: auto;
 }
 .admin-des {padding: 45px 35px;}
 .admin-des h2{
  margin-bottom: 15px;
  font-weight: 600;
 }
 .admin-des p {font-size:18px;}
 @media (max-width: 600px) {
  .admin-des h2, .admin-des p {text-align:center;}
 }
 .port-det img {
  width: 100%;
  height:700px;
 }
 @media (max-width: 768px) {
  .port-det img {height:400px;}
 }
 .port-det p, .port-det ul, .port-det ol {
  padding:10px 30px 10px 20px;
  font-size: 20px;
 }
 .port-det li {
  font-size: 20px;
 }
 .port-det .action-btn {
  font-weight:700;
  margin-bottom:20px;
 }
 .u-comment, .a-comment {
  background: #f1f4ff;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  border-radius: 15px;
 }
 .a-comment {
  flex-direction: row-reverse;
 }
 .u-comment {
  flex-direction: row;
 }
 .u-comment img, .a-comment img {
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid gray;
 }
 #comment-form > div {
  padding: 10px;
 }
 #comment-form input, #comment-form textarea {
  width: 100%;
  border:none;
  outline: none;
  background: #f1f4ff;
  padding: 20px 25px;
  font-size: 20px;
 }
 #comment-form textarea {
  height: 150px;
  resize: none;
 }
 aside h4 {
  font-family: monospace;
  margin-bottom: 20px;
  font-size: 18px;
 }
 aside ul li {
  margin-bottom: 20px;
  font-size: 20px;
 }
aside ul li a {
  text-decoration: underline;
  color: #000;
  font-weight: 500;
}
aside ul li a:hover {color:gray}
 footer {
  padding: 30px;
  text-align: center;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
 }
 .social-foot a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 25px;
 }
 
 .breadcrumb {
  background: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
 }
 .breadcrumb a {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
 }
 .page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 50px 0;
 }
 .page a {
  margin: 0 15px;
  font-size: 18px;
  color: #000;
 }
 .page a.active {
  color: red;
  text-decoration: underline;
 }

 .wrapper_carousel{
  width: 100%;
  margin-bottom: 25px;
}
.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card{
  color: #fff;
  text-align: center;
  margin: 20px 0;
  line-height: 250px;
  font-size: 90px;
  font-weight: 600;
  border-radius: 10px;
  background: #0072bc;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
}
